body{

    height: 100vh;
}

header{
grid-area: h;
background-color: blue;
}
main{
grid-area: m;
background-color: black;
}
aside{
grid-area: a;
background-color: darkgreen;
}
footer{
grid-area: f;
background-color: red;
}
nav{
grid-area: n;
background-color: yellow;
}



#container{
display: grid;
height: 100%;
grid-template-columns:75% 25%;
grid-template-rows: 20% 50% 20% 50% ;
gap: 30px;

grid-template-areas: 


"h m"
"a a"
"f n"
;


}

@media screen and ( max-width:600px){


    #container{
grid-template-rows: 75% 75% 50% 75% 75%;


        grid-template-areas: 


"h h h"
"m m m"
"a a a"
"f f f"
"n n n"
;


    }
}
    