#wrapper{

width: 80vw;
margin-left:auto ;
margin-right: auto;
}


header{
background-color: aqua;
height: 100px;
width: 100%;
}
nav{
background-color: black;
height: 110px;
width: 100%;
}
main{
background-color: rgb(0, 239, 211);
height: 400px;
width: 75%;
}
aside{
background-color: blue;
height: 400px;
width: 25%;
}
footer{
background-color: darkgreen;
height: 170px;
width: 100%;
}




#container{
 display: flex;
}



@media screen and (max-width:800px){

#wrapper{

    width: 100vw;
}


}






@media screen and (max-width:550px){


#container{


    flex-direction:column;
}
main{
width: 100%;

}
aside{
    width: 100%;
}


}


    



